
<app-header (activeCategory)="activeCategory=$event"></app-header>

<!--HERO SECTION-->
<div class="hero-section color-white" [class]="headerImgs[activeCategory][0]">
    <div class="loading-bar" [class.loading]="isLoading" [style]="isLoading ? 'width: 80%' : ''"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h1>Glückwünsche<br>für DEIN zuhause.</h1>
                <p class="desc">Lade jetzt <b>bis zu 32 Bilder</b> hoch und verschenke eine Fotoleinwand in Kunstdruck-Qualität.</p>
                <div class="desktop-btn" (click)="startConfig()">
                    <a class="btn has-icon cta-btn">
                        <div class="btn-wrapper">
                            <span>Jetzt Bilder hochladen</span><i class="icon icon-check-shield-white"></i>
                        </div>
                    </a>
                    <p class="msg"><b>Optimaler Datenschutz.</b> Deine Fotos sind sicher bei uns.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="canvas-wrapper">
                    <div class="canvas" [class.loading]="isLoading">
                        <div class="spinner" [class.loading]="isLoading"> </div>
                        <div class="row-1">
                            <div class="box-1">
                                <div class="img img-1" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][1]+'\')'"></div>
                            </div>
                            <div class="box-2">
                                <div class="img img-2" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][2]+'\')'"></div>
                            </div>
                            <div class="box-3">
                                <div class="img img-3" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][3]+'\')'"></div>
                            </div>
                        </div>
                        <div class="row-2">
                            <div class="box-1">
                                <div class="row-1">
                                    <div class="box-1" >
                                        <div class="img img-4" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][4]+'\')'"></div>
                                    </div>
                                    <div class="box-2">
                                        <div class="img img-5" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][5]+'\')'"></div>
                                    </div>
                                </div>
                                <div class="row-2">
                                    <div class="box-1">
                                        <div class="img img-6" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][6]+'\')'"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-2">
                                <div class="box-1">
                                    <div class="img img-7" [style.background-image]="'url(\''+headerImgPath+headerImgs[activeCategory][7]+'\')'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-btn" (click)="startConfig()">
                <a class="btn has-icon cta-btn">
                    <div class="btn-wrapper">
                        <span>Jetzt Bilder hochladen</span><i class="icon icon-check-shield-white"></i>
                    </div>
                </a>
                <p class="msg"><b>Optimaler Datenschutz.</b> Deine Fotos sind sicher bei uns.</p>
            </div>
        </div>
    </div>
    <div class="advantages-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="adv-item">
                        <i class="icon icon-check-white"></i>
                        <p><b>Galerie Leinwand (300 g/m2)</b><br>XL Holzrahmen (3,5 - 4,5 cm)</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="adv-item">
                        <i class="icon icon-check-white"></i>
                        <p><b>Galerie-Druck-Qualität</b><br>Auflösung bis zu 2880dpi</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="adv-item">
                        <i class="icon icon-check-white"></i>
                        <p><b>Echtholz-Rahmen</b><br>aus Kiefernholz</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="adv-item">
                        <i class="icon icon-check-white"></i>
                        <p><b>Versandkostenfrei</b><br>in ca. 6-8 Werktagen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of HERO SECTION-->

<!--ADVANTAGES MOBILE SECTION-->
<div class="advantages-mobile-section">
    <div class="container">
        <h2>Lade jetzt <b>bis zu 32 Bilder</b> hoch und verschenke eine Fotoleinwand in Kunstdruck-Qualität.</h2>
        <div class="checked-list-wrapper mg-tp-56-sm">
            <ul class="checked-list">
                <li>
                    <i class="icon icon-check-red"></i>
                    <p><b>Galerie Leinwand (300 g/m2)</b><br>XL Holzrahmen (3,5 - 4,5 cm)</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p><b>Galerie-Druck-Qualität</b><br>Auflösung bis zu 2880dpi</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p><b>Echtholz-Rahmen</b><br>aus Kiefernholz</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p>Premium Baumwoll-Mischgewebe, 300 g/m²</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End of ADVANTAGES MOBILE SECTION-->

<!--STEPS SECTION-->
<div class="steps-section">
    <div class="container">
        <h2 class="mg-tp-72 mg-tp-56-sm center-txt center-align">In <b>3 einfachen Schritten</b> zu deinem perfekten Geschenk für deine Liebsten.</h2>
        <div class="row mg-tp-72 mg-tp-56-sm">
            <div class="col-md-4">
                <div class="steps-item">
                    <div class="doodle">
                        <img src="../../assets/images/doodle-laying-down.svg"/>
                    </div>
                    <p><b>Wähle deine besten Fotos aus.</b> Du kannst bis zu 32 Bilder hochladen.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="steps-item">
                    <div class="doodle">
                        <img src="../../assets/images/doodle-float.svg"/>
                    </div>
                    <p><b>Mische die Fotos</b> so wie sie dir am besten gefallen.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="steps-item">
                    <div class="doodle">
                        <img src="../../assets/images/doodle-meditating.svg"/>
                    </div>
                    <p><b>Bestelle und lehn dich zurück.</b> Wir erledigen den rRest.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of STEPS SECTION-->

<!--INFO BOXES-->
<div class="info-box mg-tp-72 ">
    <div class="container">
        <div class="row justify-content-between flex-md-row-reverse">
            <div class="col-md-6 col-lg-7">
                <div class="img-box">
                    <img src="../../assets/images/IMG_5098%201.jpg"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="txt-box">
                    <h2 class="">Echte Leinwand in <b>Gallerie-Qualität</b></h2>
                    <ul class="checked-list">
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Kein Verziehen beim Aufspannen</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Leinwandstoff in Museumsqualität</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Feine & knotenfreie Leinwandstruktur</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Premium Baumwoll-Mischgewebe, 300 g/m²</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-box info-box-2 mg-tp-32-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-7">
                <div class="img-box">
                    <img src="../../assets/images/Bildschirmfoto%202021-10-18%20um%2012.42%201.jpg"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="txt-box">
                    <h2 class=""><b>20 Jahre straff</b> – kein Nachspannen mehr nötig!</h2>
                    <ul class="checked-list">
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Modernste Aufspanntechnologie</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Manuelle Qualitätskontrolle</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Massiver 3,5 - 4,5 cm starker Kiefernholzrahmen</p>
                        </li>
                        <li>
                            <i class="icon icon-check-red"></i>
                            <p>Inkl. Aufhänger zum einfachen nivellieren an der Wand</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of INFO BOXES-->

<!--IMG BOX SECTION-->
<div class="img-box-section">
    <div class="img-box">
        <img src="../../assets/images/Cozy_bedroom_interior%201.jpg"/>
    </div>
    <div class="container">
        <div class="txt-box">
            <h2 class=""><b>200 Jahre lichtecht,</b> ohne Verblassen</h2>
            <ul class="checked-list">
                <li>
                    <i class="icon icon-check-red"></i>
                    <p>Original Epsontinte</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p>UV- und feuchtebeständig</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p>Hochwertigster 8-Farben-Pigment-Druck</p>
                </li>
                <li>
                    <i class="icon icon-check-red"></i>
                    <p>Satte & leuchtende Farben, gestochen scharfe Details</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-container" (click)="startConfig()">
        <div class="">
            <a class="btn has-icon cta-btn">
                <div class="btn-wrapper">
                    <span>Jetzt Bilder hochladen</span><i class="icon icon-check-shield-white"></i>
                </div>
            </a>
            <p class="msg"><b>Optimaler Datenschutz.</b> Deine Fotos sind sicher bei uns.</p>
        </div>
    </div>
</div>
<!--End of IMG BOX SECTION-->

<!--TESTIMONIALS SECTION-->
<div class="testimonials-section mg-tp-72">
    <div class="container">
        <h2 class="center-txt center-align">Über 1.000 <b>zufriedene Gesichter</b> bei  über 14.000 Fotos.</h2>
        <ul class="photos-list mg-tp-72 mg-tp-32-sm">
            <li><a><img src="../../assets/images/unsplash_436ZVxZOtEM.jpg"/></a></li>
            <li><a><img src="../../assets/images/unsplash_CgWTqYxHEkg.jpg"/></a></li>
            <li><a><img src="../../assets/images/unsplash_lGxtfJlYSmU.jpg"/></a></li>
            <li><a><img src="../../assets/images/unsplash_Pz-84JetgSI.jpg"/></a></li>
        </ul>
    </div>
</div>
<!--End of TESTIMONIALS SECTION-->

<!--RATINGS SECTION-->
<div class="ratings-section mg-tp-72 mg-tp-56-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratings-wrapper">
                    <div class="ratings-btn">
                        <ul class="stars">
                            <li><span style="width: 100%;"></span></li>
                            <li><span style="width: 100%;"></span></li>
                            <li><span style="width: 100%;"></span></li>
                            <li><span style="width: 100%;"></span></li>
                            <li><span style="width: 80%;"></span></li>
                        </ul>
                        <p><b>4,8</b>/5</p>
                    </div>
                    <p><b>487 Bewertungen</b> für AllesGute.info</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="comments-list">
                    <div class="row">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="col-md-4 swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Super schnelle Bearbeitung und Lieferung.</p>
                                        <p class="name">Jasmin H.</p>
                                    </div>
                                </div>
                                <div class="col-md-4  swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Die Leinwand hat eine Spitzenqualität.</p>
                                        <p class="name">Armin K.</p>
                                    </div>
                                </div>
                                <div class="col-md-4  swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Kann ich nur weiter empfehlen!</p>
                                        <p class="name">Klara B.</p>
                                    </div>
                                </div>
                                <div class="col-md-4  swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Kann ich nur weiter empfehlen!</p>
                                        <p class="name">Klara B.</p>
                                    </div>
                                </div>
                                <div class="col-md-4  swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Kann ich nur weiter empfehlen!</p>
                                        <p class="name">Klara B.</p>
                                    </div>
                                </div>
                                <div class="col-md-4  swiper-slide">
                                    <div class="comment-item">
                                        <div class="rating">
                                            <ul class="stars">
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 100%;"></span></li>
                                                <li><span style="width: 80%;"></span></li>
                                            </ul>
                                            <p>Sehr gut</p>
                                        </div>
                                        <p class="txt">Kann ich nur weiter empfehlen!</p>
                                        <p class="name">Klara B.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="comments-list-nav">
                    <div class="slide-nav slide-prev">
                        <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.875 24.75L1 12.875L12.875 1" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="slide-nav slide-next">
                        <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.8335 24.75L13.7085 12.875L1.8335 1" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="star-svg">
    <svg viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
        <defs>
            <clippath id="starPath" clipPathUnits="objectBoundingBox" transform="scale(0.04, 0.04166666666)">
                <path d="M12.5 2L15.59 8.26L22.5 9.27L17.5 14.14L18.68 21.02L12.5 17.77L6.32 21.02L7.5 14.14L2.5 9.27L9.41 8.26L12.5 2Z" fill="#F3BD4E" stroke="#F3BD4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </clippath>
        </defs>
    </svg>
</div>
<!--End of RATINGS SECTION-->

<!--SITE FOOTER-->
<div id="site-footer">
    <div *ngIf="isDevMode">App version: {{appVersion}}</div>
</div>
