<app-header></app-header>

<!--UPLOAD SECTION-->
<div class="upload-section">
    <div class="section-left type-1">
        <div class="canvas-wrapper" #fileinput [class]="sizeClass">
            <!-- Konva canvas -->
            <div class="canvas mobile-lg" [class.loading]="working">
                <div id="konvacanvas" #konvacanvas appMosaic></div>
                <div class="spinner" [class.loading]="working"></div>
            </div>
            <!-- End Konva canvas -->
        </div>
        <div class="btn-container">
            <a class="btn shuffle-btn" (click)="shuffleImages()">
                <div class="btn-wrapper">
                    <i class="icon icon-shuffle-white"></i><span>Fotos neu mischen</span>
                </div>
            </a>
            <div class="tooltip" [class.show]="tooltip" (click)="tooltipVisible=tooltip">
                <div class="txt">Die Fotos werden immer per Zufallsprinzip neu angeordnet.</div>
            </div>

        </div>
        <div class="msg">
            Abbildung entspricht nicht der tatsächlichen Größe.
        </div>
    </div>
    <div class="section-rt">
        <div class="payment-section" [style.display]="isConfigVisible ? '' : 'none'">
            <div class="section-block">
                <div class="section-title-wrapper">
                    <h2 class="section-title">Deine Fotos</h2>
                    <p class="msg desktop-msg">{{images.length}} von 32 Fotos</p>
                </div>
                <div class="photo-previews-list">
                    <div *ngFor="let image of images" class="photo-item">
                        <div class="photo" [style.background-image]="'url(\''+image.dataURL+'\')'" [style.transform]="'rotate('+image.rotation+'deg)'">
                            <div class="remove-photo" [style.transform]="'rotate(-'+image.rotation+'deg)'" (click)="removeImage(image.id)">
                                <span class="remove-photo-span"><i class="icon icon-remove"></i></span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="uploadBtnVisible" class="add-photo-btn" (click)="addImage()">
                        <div class="wrapper">
                            <div>
                                <i class="icon icon-plus"></i>
                                <p class="txt">Fotos hinzufügen</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="msg mobile-msg">
                    {{images.length}} von 32 Fotos
                </div>
            </div>
            <div class="section-block">
                <div class="section-title-wrapper">
                    <h2 class="section-title">Größe</h2>
                </div>
                <div class="sizes-list">
                    <div class="size-item" [class.selected]="canvasSize==canvasSizesEnum[0]" (click)="canvasSize=canvasSizesEnum[0]" data-size="normal">
                        <div class="size-icon-wrapper">
                            <div class="size-icon size-icon-sm"></div>
                        </div>
                        <p>40 × 40 cm</p>
                    </div>
                    <div class="size-item" [class.selected]="canvasSize==canvasSizesEnum[1]" (click)="canvasSize=canvasSizesEnum[1]" data-size="medium">
                        <div class="size-icon-wrapper">
                            <div class="size-icon size-icon-md"></div>
                        </div>
                        <p>60 × 60 cm</p>
                    </div>
                    <div class="size-item" [class.selected]="canvasSize==canvasSizesEnum[2]" (click)="canvasSize=canvasSizesEnum[2]" data-size="large">
                        <div class="size-icon-wrapper">
                            <div class="size-icon size-icon-lg"></div>
                        </div>
                        <p>80 × 80 cm</p>
                    </div>
                </div>
            </div>
            <div class="section-block">
                <div class="prices">
                    <p class="original-price">€ {{canvasPriceOriginal}}</p>
                    <p class="final-price">€ {{canvasPriceFinal}}</p>
                </div>
                <div class="msg prices-msg">
                    inkl. Versand (ca. 6-8 Werktage)
                </div>
            </div>
        </div>
        <app-paypal (checkoutDone)="isConfigVisible=$event.valueOf()" [images]="imagesLength"></app-paypal>
    </div>
</div>
<!--End of UPLOAD SECTION-->
