


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/38bb34");


@font-face {font-family: 'ArminGrotesk-Thin';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_0_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_0_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_0_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_0_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-Black';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_1_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_1_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_1_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_1_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-ThinItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_2_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_2_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_2_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_2_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-BlackItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_3_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_3_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_3_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_3_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-Italic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_4_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_4_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_4_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_4_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_4_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-Normal';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_5_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_5_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_5_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_5_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_5_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-Regular';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_6_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_6_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_6_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_6_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_6_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-NormalItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_7_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_7_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_7_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_7_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_7_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-SemiBoldItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_8_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_8_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_8_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_8_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_8_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-SemiBold';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_9_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_9_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_9_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_9_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_9_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-UltraBold';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_A_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_A_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_A_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_A_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_A_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-UltraBoldItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_B_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_B_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_B_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_B_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_B_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-UltraLight';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_C_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_C_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_C_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_C_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_C_0.ttf') format('truetype');}


@font-face {font-family: 'ArminGrotesk-UltraLightItalic';src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_D_0.eot');src: url('/assets/fonts/armin_grotesk/webfonts/38BB34_D_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_D_0.woff2') format('woff2'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_D_0.woff') format('woff'),url('/assets/fonts/armin_grotesk/webfonts/38BB34_D_0.ttf') format('truetype');}


@font-face {
    font-family: 'dk_liquid_embraceregular';
    src: url('/assets/fonts/dk_liquid_embrace/dk_liquid_embrace-webfont.woff2') format('woff2'),
    url('/assets/fonts/dk_liquid_embrace/dk_liquid_embrace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

